.highlight {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 3rem 0;
}

.highlightphoto {
  width: 80%;
  height: 40rem;
}

@media only screen and (max-width: 1400px) {
  .highlightphoto {
    width: 90%;
  }
}

.highlightphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote {
  width: 80%;
  background-color: white;
  color: black;
  padding: 2rem 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

@media only screen and (max-width: 1400px) {
  .quote {
    width: 90%;
    padding: 2rem;
  }
}

.quote .quoteauthor {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  font-family: "Comfortaa", "sans-serif";
  color: var(--antoinette-gold);
}
