.title-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.inner-title-container {
  width: 80%;
  display: flex;
}

.pagetitle {
  color: var(--antoinette-gold);
  font-weight: 600;
  font-size: 2rem;
  display: flex;
}

@media only screen and (max-width: 1400px) {
  .inner-title-container {
    width: 90%;
  }
}
