.title-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.inner-title-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1400px) {
  .inner-title-container {
    width: 90%;
  }
}

.filter-container {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .filter-container {
    flex-direction: column;
    align-items: flex-end;
  }
}

.currentFilter {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: inherit;
  transition: all 0.2s ease;
}

.filter {
  font-size: 1rem;
}
