<div class="checkout-container">
  <div class="container">
    <form
      [formGroup]="newItemForm"
      (ngSubmit)="uploadItem()"
      enctype="multipart/form-data"
    >
      <div class="form">
        <div class="input-container">
          <label>Име*</label>
          <div class="input">
            <input type="text" placeholder="Име" formControlName="name" />
          </div>
          <div class="error-list" *ngIf="fc['name'].errors && isSubmitted">
            <div *ngIf="fc['name'].errors['required']">Задължително поле</div>
          </div>
        </div>
        <div class="input-container">
          <label>Категория*</label>
          <!--
            <div class="input">
            <input
              type="text"
              placeholder="Категория"
              formControlName="category"
            />
          </div>
          -->
          <select formControlName="category" class="select-category">
            <option value="" disabled selected>Избери категория</option>
            <option value="Сервизи за хранене">Сервизи за хранене</option>
            <option value="Прибори">Прибори</option>
            <option value="Шахове и табли">Шахове и табли</option>
          </select>
          <div class="error-list" *ngIf="fc['category'].errors && isSubmitted">
            <div *ngIf="fc['category'].errors['required']">
              Задължително поле
            </div>
          </div>
        </div>
        <div class="input-container">
          <label>Описание*</label>
          <div class="input">
            <textarea
              class="description"
              placeholder="Описание"
              formControlName="description"
              rows="5"
            ></textarea>
          </div>
          <div
            class="error-list"
            *ngIf="fc['description'].errors && isSubmitted"
          >
            <div *ngIf="fc['description'].errors['required']">
              Задължително поле
            </div>
          </div>
        </div>
        <div class="input-container">
          <label>Произход</label>
          <input type="text" placeholder="Произход" formControlName="origin" />
        </div>
        <div class="input-container">
          <label>Тагове</label>
          <div class="tag-container">
            <input type="text" id="addTag" placeholder="Таг" />
            <div class="remove" (click)="removeTag()">-</div>
            <div class="add" (click)="addTag()">+</div>
          </div>
          <div class="tags">
            <div class="tag" *ngFor="let tag of tags">{{ tag }}</div>
          </div>
        </div>
        <div class="input-container">
          <label>Цена*</label>
          <div class="input">
            <input type="number" placeholder="Цена" formControlName="price" />
          </div>
          <div class="error-list" *ngIf="fc['price'].errors && isSubmitted">
            <div *ngIf="fc['price'].errors['required']">Задължително поле</div>
          </div>
        </div>
        <div class="input-container">
          <div class="file-container">
            <label class="fileInput" for="fileInput">Избери снимки*</label>
            <input
              #fileInput
              id="fileInput"
              type="file"
              multiple
              (change)="showImage($event)"
            />
            <div class="removeImage" (click)="removeImage()">-</div>
          </div>
        </div>
        <div class="button">
          <button type="submit">Качи продукт</button>
        </div>
      </div>
    </form>
    <div class="photo-container">
      <img
        class="main-photo"
        *ngIf="imagesPreview[0]"
        [src]="imagesPreview[0]"
      />
      <div class="photos">
        <ng-container *ngFor="let image of imagesPreview">
          <img class="photo" *ngIf="imagesPreview[0]" [src]="image" alt="" />
        </ng-container>
      </div>
    </div>
  </div>
</div>
