<div class="decor-container">
  <div class="container">
    <div class="card">
      <div class="image">
        <img src="../../../../assets/cover.jpg" alt="cover">
      </div>
      <div class="info">
        <div class="title">За кухнята</div>
        <div class="products">
          <div class="product">Продукт 1</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="../../../../assets/cover.jpg" alt="cover">
      </div>
      <div class="info">
        <div class="title"></div>
        <div class="products">
          <div class="product">Продукт 1</div>
        </div>
      </div>
    </div>
  </div>
</div>
