<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/" class="title">Antoinette</a>
      <div class="divider"></div>
      <div class="subtitle">HOME DECOR</div>
    </div>
    <nav>
      <ng-container *ngIf="user$ | async as user">
        <div class="cart">
          <a routerLink="/cart">КОЛИЧКА</a>
          <ng-container *ngIf="cart$ | async as cart">
            <div *ngIf="cart.totalCount > 0" class="quantitybadge">
              <div class="quantity">
                {{ cart.totalCount }}
              </div>
            </div>
            <div *ngIf="cart.totalCount <= 0" class="carticon">
              <svg style="color: var(--antoinette-gold); width: 1.4rem; height: 1.4rem" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>
            </div>
          </ng-container>
        </div>
        <div class="hamburger active" (click)="handleSandwichClick()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <div class="menu active">
          <div class="menu-container">
            <div class="navmenu">
              <a routerLink="/category" class="menubutton"
                >ВСИЧКИ ПРОДУКТИ</a
              >
              <a routerLink="/ideas" class="menubutton"
                >ИДЕИ ЗА ДЕКОР</a
              >
              <a routerLink="/about" class="menubutton"
                >ЗА НАС</a
              >
            </div>
            <div class="usermenu">
              <a routerLink="/admin" class="menubutton" *ngIf="user.token && user.isAdmin"
                >АДМИН ПАНЕЛ</a
              >
              <a routerLink="/profile" class="menubutton" *ngIf="user.token && !user.isAdmin"
                >МОЯТ ПРОФИЛ</a
              >
              <a routerLink="/orders" class="menubutton" *ngIf="user.token && !user.isAdmin"
                >МОИТЕ ПОРЪЧКИ</a
              >
              <a (click)="logout()" class="menubutton" *ngIf="user.token"
                >ИЗХОД</a
              >
              <a routerLink="/login" class="menubutton" *ngIf="!user.token"
                >ВХОД</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </nav>
  </div>
</header>
