.category-container {
  padding-top: 1.4rem;
  margin-bottom: 5rem;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
}

ul {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  margin: 0;
}

li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: black;
  height: 8rem;
  width: 8rem;
}

li a:hover .image{
  transform: scale(1.05);
}

li a:active .image {
  transform: scale(0.95);
}

a.active .name{
  color: var(--antoinette-gold);
}

a.category.active .image{
  border: 3px solid var(--antoinette-gold);
}

li a .image{
  height: 7rem;
  width: 7rem;
  border-radius: 100rem;
  border: 3px solid white;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  text-align: center;
  color: white;
  font-weight: 600;
}
