<div class="category-container">
  <div class="container">
    <ul>
      <li>
        <a routerLink="/admin/dashboard/orders" (click)="activateCategory('orders')" id="orders" class="category">
          <div class="image">
            <div class="name">
              ПОРЪЧКИ
            </div>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="/admin/dashboard/new-product" (click)="activateCategory('new-product')" id="new-product" class="category">
          <div class="image">
            <div class="name">
              НОВ ПРОДУКТ
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
