.category-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5rem 0 5rem 0;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 10rem;
}

ul {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  margin: 0;
}

li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: black;
}

a.active .name{
  color: var(--antoinette-gold);
}

li a .image{
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  text-align: center;
  color: white;
  font-weight: 600;
}
