<div class="delivery-container">
  <div class="freedelivery">
    Безплатна доставка на всяка поръчка над 100лв.
  </div>
</div>
<ng-container *ngIf="items$ | async as items">
  <div class="item-container">
    <div class="container">
      <app-navigation [category]="items.item.category"></app-navigation>
    </div>
    <div class="container" *ngIf="items.item as item">
      <div class="picture">
        <img
          class="main-picture"
          [src]="imageSrc ? imageSrc : item.imageUrl[0]"
          [alt]="item.name"
        />
        <div class="pictures">
          <a
            *ngFor="let image of item.imageUrl; let i = index"
            (click)="activateImage(image, i)"
          >
            <img
              [src]="image"
              [alt]="item.name"
              class="sub-picture id{{ i }}"
              [ngClass]="{ active: i == 0 }"
            />
          </a>
        </div>
      </div>
      <div class="info-container">
        <div class="info">
          <div class="main-info">
            <div class="name">{{ item.name }}</div>
            <div class="description" [innerHTML]="item.description"></div>
          </div>
          <div class="sub-info">
            <div class="origins" *ngIf="item.origin">{{ item.origin }}</div>
            <div class="tag" *ngFor="let tag of item.tags">{{ tag }}</div>
          </div>
        </div>
        <div class="buy-container">
          <div class="buy">
            <div class="price">BGN {{ item.price | number : "1.2-2" }}</div>
            <button class="addbutton" (click)="addToCart(item)">
              <span class="add active">
                <svg style="color: white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg> Добави</span>
              <span class="added">&#10003; Добавено</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="items.similarItems as similarItems">
    <ng-container *ngIf="similarItems.length">
      <div class="similar-container">
        <div class="container">
          <app-title [title]="'Открий подобни продукти'"></app-title>
        </div>
      </div>
      <app-carousel [items]="similarItems"></app-carousel>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="error">
  <div class="item-container">
    <div class="container">
      <div class="message">Error 404: Не е намерен такъв продукт 😔</div>
    </div>
  </div>
</ng-container>
