<div class="login-container">
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form">
        <div class="title">Добре дошли отново!</div>
        <div class="input-container">
          <label>Имейл</label>
          <div class="input">
            <input type="email" placeholder="Имейл" formControlName="email" />
          </div>
          <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
            <div *ngIf="fc['email'].errors['required']">Задължително поле</div>
            <div *ngIf="fc['email'].errors['email']">Невалиден Email</div>
          </div>
        </div>
        <div class="input-container">
          <label>Парола</label>
          <div class="input">
            <input
              type="password"
              placeholder="Парола"
              formControlName="password"
            />
          </div>
          <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
            <div *ngIf="fc['password'].errors['required']">Задължително поле</div>
          </div>
        </div>
        <div class="button">
          <button class="submit" type="submit">Вход</button>
        </div>
      </div>
      <div class="register">Все още нямате акаунт?
        <a routerLink="/register">Регистрирайте се тук</a>
      </div>
    </form>
  </div>
</div>
