.login-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.container {
  width: 80%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
}

form {
  height: 100%;
  width: 50%;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 5rem 6rem;
}

.form.login {
  background-color: black;
  color: white;
}

.form.login input{
  border-color: var(--antoinette-gold);
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

input {
  border: 0.1rem solid black;
  background-color: white;
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border-radius: 5rem;
}

label {
  align-self: flex-start;
  width: 100%;
  font-size: 1.3rem;
  text-indent: 1rem;
}

.input {
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
}

.button button{
  margin-top: 2rem;
  width: 70%;
  align-self: center;
  font-size: 1.3rem;
  padding: 1rem 1rem;
  border: none;
  background-color: var(--antoinette-gold);
  font-weight: 600;
  cursor: pointer;
  border-radius: 5rem;
  transition: all 0.5s ease;
  color: white;
}

.button button:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.button button:active {
  transform: scale(0.95);
}

.error-list {
  padding: 0 1rem;
  color: rgb(164, 3, 3);
  font-weight: 600;
}

.title {
  color: var(--antoinette-gold);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  align-self: center;
}
