<app-categories></app-categories>
<ng-container *ngIf="activated | async as activated">
  <app-title [title]="activated['category']"></app-title>
</ng-container>
<div class="category-container">
  <div class="container">
    <ul>
      <li *ngFor="let item of (items$ | async)">
        <a routerLink="/item/{{ item.id }}">
          <img [src]="item.thumbnail || item.imageUrl[0]" [alt]="item.name" />
          <div class="content">
            <div class="name">
              {{ item.name }}
            </div>
            <div class="description" [innerHTML]="item.description"></div>
            <div class="price">
              <span>
                BGN {{ item.price | number : "1.2-2" }}
              </span>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
