app-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.about-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

@media only screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

.inner-about-container {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.about {
  flex:3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

iframe {
  flex:2;
}
