<div class="featured-container">
  <ul *ngIf="items" class="scrollContainer">
    <button class="scrollleft side" (click)="scrollLeft()">
      <div class="buttonarrow">
        <span>&#60;</span>
      </div>
    </button>
    <li *ngFor="let item of items">
      <a routerLink="/item/{{ item.id }}">
        <img [src]="item.imageUrl[0]" [alt]="item.name" loading="lazy" draggable="false"/>
        <div class="content">
          <div class="name">
            {{ item.name }}
          </div>
          <div class="description" [innerHTML]="item.description"></div>
          <div class="price">
            <span>
              BGN {{ item.price | number : "1.2-2" }}
            </span>
          </div>
        </div>
      </a>
    </li>
    <button class="scrollright side" (click)="scrollRight()">
      <div class="buttonarrow">
        <span>&#62;</span>
      </div>
    </button>
  </ul>
</div>
