<div class="category-container">
  <div class="container">
    <ul *ngIf="allItems.length">
      <li *ngFor="let item of allItems">
        <div class="add" (click)="addToCart(item)"><span>
          <svg style="color: white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </span>Добави</div>
        <div class="not favorite" [class]="item.id" [ngClass]="{'active': !item.favorite}" (click)="addToFavorites(item.id)">
          <svg  xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
        </div>
        <div class="is favorite" [class]="item.id" [ngClass]="{'active': item.favorite}" (click)="removeFromFavorites(item.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        </div>
        <a routerLink="/item/{{ item.id }}">
          <img
            [src]="item.thumbnail || item.imageUrl[0]"
            [alt]="item.name"
            loading="lazy"
          />
          <div class="content">
            <div class="name">
              {{ item.name }}
            </div>
            <div class="description" [innerHTML]="item.description"></div>
          </div>
          <div class="price-container"></div>
          <div class="price">
            BGN {{ item.price | number : "1.2-2" }}
          </div>
        </a>
      </li>
    </ul>
    <div *ngIf="allItems.length <= 0" class="noproducts">
      Няма намерени продукти
    </div>
  </div>
</div>
